//Carta de detalles

.characterDetail {
  @include flexColumn();
  @include center();
  height: 100vh;
  &__card {
    margin: 30px;
    border: 8px solid $color-border;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background: url("../../images/12687.jpg");
    background-size: cover;

    @media all and(min-width:768px) {
      margin-top: 20px;
      border: 10px solid $color-border;
    }
  }
  &__item {
    list-style: none;
  }
  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    &:hover {
      filter: grayscale(80%);
      transform: scale(1.1);
    }
    @media all and(min-width:768px) {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 14px;
    margin: 20px;
    padding: 10px;
    color: $color-name;
    line-height: 30px;
    @media all and(min-width:768px) {
      font-size: 18px;
    }
  }

  &__status {
    font-size: 14px;
    @media all and(min-width:768px) {
      font-size: 16px;
      color: $color-fontDetails;
    }
  }
  &__species {
    font-size: 14px;
    padding: 10px;
    color: $color-fontDetails;
    @media all and(min-width:768px) {
      font-size: 16px;
    }
  }
  &__origen {
    font-size: 12px;

    @media all and(min-width:768px) {
      font-size: 14px;
    }
  }
  &__episodes {
    padding: 10px;
    font-size: 12px;

    @media all and(min-width:768px) {
      font-size: 14px;
    }
  }
  &__container1 {
    @include flexColumn();
    justify-content: space-around;
    padding: 10px;
  }
  &__container2 {
    @include flexColumn();
    justify-content: space-center;
    padding: 10px;
    line-height: 15px;
  }
  &__button {
    color: $color-name;
    padding: 5px;
    font-size: 20px;
    background-color: $color-name;
    border-radius: 10px;
    cursor: pointer;
    width: 75px;
    height: 40px;
    margin-top: 25px;
    animation: intro;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: 1;
    &:hover {
      transform: scale(1.1);
    }
  }
  .icon-status {
    padding: 5px;
    font-size: 20px;
    @media all and(min-width:768px) {
      font-size: 35px;
    }
  }
  @keyframes intro {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}
