//Carta de detalles

.characterDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__card {
    margin-top: 20px;
    border: 10px solid $color-border;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background: url("../../images/12687.jpg");
    background-size: cover;
  }
  &__item {
    list-style: none;
  }
  &__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  &__name {
    font-size: 20px;
    padding: 10px;
    color: $color-name;
  }
  &__status {
    font-size: 18px;
    color: $color-fontDetails;
  }
  &__species {
    padding: 10px;
    font-size: 18px;
    color: $color-fontDetails;
  }
  &__origen {
    font-size: 14px;
  }
  &__episodes {
    padding: 10px;
    font-size: 18px;
  }
  &__container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
  }
  &__container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
  }
  &__button {
    color: $color-name;
    padding: 5px;
    font-size: 20px;
    background-color: $color-name;
    border-radius: 10px;
    cursor: pointer;
    width: 75px;
    height: 40px;
    margin-top: 25px;
  }
}
