//Footer

.footer {
  font-size: 18px;
  color: $color-border;
  padding: 20px;
  @include flexColumn();
  @include center();
  @media all and (min-width: 768px) {
    font-size: 24px;
    flex-direction: row;
  }
  &__name {
    padding: 10px;
  }
}
