//header
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  &__logo {
    width: 250px;
    height: 100px;
    @media all and(min-width:768px) {
      width: 300px;
      height: 150px;
    }
  }
}
