//NotFound
.notFound {
  height: 100vh;
  @include flexColumn();

  @include center();
  text-align: center;
  &__img {
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
  .fa-sad-tear {
    font-size: 40px;
  }
}
